.header {
  max-width: 880px;
  margin: 0 auto;
  padding-top: 34px;
  padding-bottom: 40px;
  display: flex;
  justify-content: center;
}

.header__logo {
  width: 100px;
  height: 100px;
  opacity: 1;
  display: flex;
  justify-content: center;
  gap: 15px;
  margin: 0 auto;
}

.header__logo-image {
  width: 150px;
  height: 150px;
}

.header__logo-text {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 2px;
}