.header {
  max-width: 880px;
  margin: 0 auto;
  padding-top: 34px;
  padding-bottom: 40px;
}

.header__logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.header__logo-image {
  width: 50px;
  height: 50px;
}

.header__logo-text {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 2px;
  color: #2b2b2b;
}