.intro {
  max-width: 830px;
  margin: 92px auto 0;
  padding: 0 16px;
}

.intro__title {
  font-family: 'Inter', sans-serif;
  font-size: 48px;
  font-weight: 900;
  line-height: 1.1;
}

.intro__quote {
  font-size: 22px;
  line-height: 1.4;
  margin-top: 40px;
}

.intro__author {
  font-size: 20px;
  line-height: 1.2;
  margin-top: 10px;
}

.intro__text {
  font-size: 18px;
  line-height: 1.5;
  margin-top: 32px;
}

@media (max-width: 768px) {
  .intro__title {
    font-size: 32px;
  }

  .intro__quote {
    font-size: 18px;
  }
}